<h1>List of all the tasks:</h1>
<ul><% @tasks.each do |task| %></ul>
  <% status = task.completed ? "[x]" : "[  ]"  %>
  <li><%= status %> <%= link_to task.title, task_path(task) %></li>
<% end %>
<h3><%= link_to "Create a new Task", new_task_path %></h3>
